---

export interface Props {
	subtitle: string;
	title: string;
	tagline: string;
}

const { subtitle, title, tagline } = Astro.props;
---

<header>
    <h1 class="invisible text-sm">Fisioterapia Uberlândia | Pilates Uberlândia</h1>
    <div class="mx-auto max-w-7xl pt-8 lg:pt-12 pb-5 px-4 sm:px-6 lg:px-8">
        <div class="text-center">

            <img class="mx-auto h-40 w-40 rounded-full shadow-md" src="avatar.png" alt="Fisioterapeuta de Uberlândia">
            
            <p class="mt-5 text-3xl font-bold tracking-tight text-gray-900 lg:text-4xl">
                {title}
            </p>

            <h2 class="text-sm font-semibold text-primary mt-2">
                {subtitle}
            </h2>

            <p class="mx-auto mt-2 max-w-xl text-base text-gray-500">
                {tagline}
            </p>

            <p class="mx-auto mt-8 max-w-xl text-xl text-primary">
                Vamos agendar uma consulta?
            </p>
        </div>
    </div>
</header>
