---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pedro Paulo | Fisioterapia e Pilates Uberlândia</title>
		<meta name="description" content="Fisioterapia e estúdio de Pilates em Uberlândia. Oferecemos tratamentos para todas as idades e condições físicas.">
		<meta name="keywords" content="pedro paulo, fisioterapeuta, pilates, uberlândia">
		<meta property="og:site_name" content="Dr. Pedro Paulo">
		<meta property="og:title" content="Dr. Pedro Paulo" />
		<meta property="og:url" content="https://drpedropaulo.fst.br" />
		<meta property="og:description" content="Fisioterapia e estúdio de Pilates em Uberlândia. Oferecemos tratamentos para todas as idades e condições físicas." />
		<meta property="og:image:secure_url" itemprop="image" content="https://drpedropaulo.fst.br/avatar-whatsapp.jpg">
		<meta property="og:image" itemprop="image" content="https://drpedropaulo.fst.br/avatar-whatsapp.jpg">
		<meta property="og:type" content="website" />
		<meta property="og:updated_time" content="1695344259181" />
		<meta name="msvalidate.01" content="267107383D9B3EECFB2E656246BCA0E3" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
